body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.legal-txt{
  font-size: 11px;
  text-align: center;
  display:flex;
  justify-content: space-around;
}
.banner-txt, .additional
{
  font-size: 1.25rem;
}

h6 {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
ul {
  list-style: none;
  padding: 1px;
}
