@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: calc(3rem + 1.5vw);
  text-align: center;
}
h2{
  font-family: 'Dancing Script', cursive;
  font-size: calc(1.25rem + 1.5vw);
}
.contact{
  font-size: 1.25rem;
}

.legal-txt{
  font-size: 11px;
  text-align: center;
  display:flex;
  justify-content: space-around;
}
.banner-txt, .additional
{
  font-size: 1.25rem;
}

h6 {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
ul {
  list-style: none;
  padding: 1px;
}

.event{
  width: 300px;

}

.eventdetail{
  position: relative;
  left: 40px;
  top: -40px;
  width: 220px;
  height: 100px;
  background-color: white;



}
.eventdate, .eventdesc{
display: flex;
align-items: center;
}

.eventdate{
  font-weight: bolder;
}


.facebook{
background: linear-gradient(90deg, hsla(180, 82%, 45%, 1) 0%, hsla(330,67%, 52%, 1) 100%);
}